*{
    box-sizing: border-box;

}
body{
    background-color: #363e44;
    display: grid;
    justify-content: center;
    top: 10px;
}
.content{
    background: url("/assets/Silver\ Stamping\ Logo\ MockUp.jpg");
    background-attachment: fixed;
    background-size: contain;
    height: 493px;
    width: 490px;
    display: flex;
    flex-wrap:wrap ;
    transform: rotate(-45deg);
}
.bulle{
    background-color: transparent;
    width: 98px;
    height: 100px;
    padding: 0;
    margin: 0px;
    border: 10px;
    border-style: solid;
    border-color:#363e44;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    box-shadow: aliceblue;
}
.notbulle{
   background-color:#363e44;
}
a{
    transition:  background-color 2s ;
}
a:hover{
    background-color: #363e44;
    transition:  background-color .5s ;
}
a:active{
    background-color: white;
}
img{
    width: 50px;
    height: 50px;
    transform: rotate(45deg);  
}
