* {
    margin: 0;
    padding: 0;
  }
  body,
  html {
    height: 100%;
    background-color: #101010;
  }
  .bg {
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  .hexagons {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
  }
  .hexagons polygon {
    fill: rgba(255, 255, 255, 0);
    stroke: #fff;
    stroke-width: 0.5;
    stroke-opacity: 0.08;
    transition: all 1s cubic-bezier(0.44, 0.73, 0.63, 1);
  }
  .hexagons polygon:hover {
    fill: rgba(255, 255, 255, 0.08);
  }
  .hexagons .active polygon {
    fill: rgba(255, 255, 255, 0.2);
  }
  .hexagons polygon:hover {
    fill: rgba(255, 255, 255, 0.08);
  }
  